$buttonBackground : #222121;
$buttonColor: white;
$buttonHoverBgc: white;
$buttonHoverColor: black;
$buttonBrdr: 1px solid #222121;
$buttonCursor: pointer;
$buttonOutline: none;
$buttonBorder: none;
$buttonRadius: 0.3rem;

